<ion-header [translucent]="true">
  <ion-toolbar class="toolbarColor">
    <ion-title>Nueva Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content">
  <div class="bg-img bg-default"></div>

  <ion-card class="card-formulario">
    <ion-card-header>
      <ion-card-title>Formulario de Mascota</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="mdl_nombre" label="Nombre" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="mdl_raza" label="Raza" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="mdl_peso" type="number" label="Peso (kg)" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="mdl_color" label="Color" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="mdl_pelaje" label="Tipo de Pelaje" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="mdl_edad" label="Edad (años)" type="number" labelPlacement="floating"></ion-input>
      </ion-item>

    <ion-item>
  <label class="fecha-nacimiento-label">Fecha de Nacimiento</label>
  <input class="fecha-nacimiento-input" [value]="fechaNacimientoFormateada" readonly (click)="abrirCalendario()">
</ion-item>


<ion-modal #modalFecha cssClass="modal-fecha" showBackdrop="true" backdropDismiss="true">
  <ng-template>
    <ion-datetime 
      presentation="date"
      (ionChange)="onFechaSeleccionada($event)">
    </ion-datetime>
  </ng-template>
</ion-modal>


      <ion-item lines="none">
        <ion-label>¿Mascota fallecida?</ion-label>
        <ion-toggle slot="end" [(ngModel)]="mdl_muerta"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Foto de la Mascota</ion-label>
        <input type="file" (change)="subirImagen($event)" accept="image/*" />
      </ion-item>

      <ion-button expand="block" class="clrPrincipal boton-guardar" (click)="guardarMascota()">
        <ion-icon slot="start" name="save"></ion-icon>
        Guardar Mascota
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button class="back-button" shape="round">
    <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
  </ion-button>



</ion-content>
