<ion-header [translucent]="true">
  <ion-toolbar class="toolbarColor">
    <ion-title>Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content">
  
  <!-- Fondo con difuminado -->
  <div class="bg-img bg-default"></div>

  <div class="overlay">
    <ion-card class="card-translucent">

      <!-- Campos del formulario -->
      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_email" label="Correo Electrónico" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_pass" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_name" label="Nombre" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_lastname" label="Apellido" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_id" label="Rut" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-select [(ngModel)]="mdl_gen" label="Género" labelPlacement="floating" interface="popover">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_dir" label="Dirección" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item class="input-translucent">
        <ion-input [(ngModel)]="mdl_phone" label="Teléfono" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="crearCuenta()" class="btn-crear-cuenta">
      Crear Cuenta
      </ion-button>


    </ion-card>
  </div>
</ion-content>
