<ion-header [translucent]="true">
  <ion-toolbar class="toolbarColor">
    <ion-title>Ajustes de Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content" class="content">

  <div class="bg-img bg-default"></div>

  <div *ngIf="usuario">
    <ion-card class="card-ajustes">
      <ion-card-header>
        <ion-card-title>
          <div *ngIf="isEditing">
            <ion-input [(ngModel)]="usuario.nombre" placeholder="Nombre"></ion-input>
            <ion-input [(ngModel)]="usuario.apellido" placeholder="Apellido"></ion-input>
          </div>
          <div *ngIf="!isEditing">
            {{ usuario.nombre }} {{ usuario.apellido }}
          </div>
        </ion-card-title>
        <ion-card-subtitle>
          {{ usuario.tipo_persona | titlecase }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>RUT:</strong> {{ usuario.rut }} </p>

        <p><strong>Email:</strong>
          <ng-container *ngIf="isEditing; else emailView">
            <ion-input type="email" [(ngModel)]="usuario.email" placeholder="Correo electrónico"></ion-input>
          </ng-container>
          <ng-template #emailView> {{ usuario.email }} </ng-template>
        </p>

        <p><strong>Dirección:</strong>
          <ng-container *ngIf="isEditing; else dirView">
            <ion-input [(ngModel)]="usuario.direccion" placeholder="Dirección"></ion-input>
          </ng-container>
          <ng-template #dirView> {{ usuario.direccion || 'No especificada' }} </ng-template>
        </p>

        <p><strong>Teléfono:</strong>
          <ng-container *ngIf="isEditing; else phoneView">
            <ion-input type="tel" [(ngModel)]="usuario.telefono" placeholder="Teléfono"></ion-input>
          </ng-container>
          <ng-template #phoneView> {{ usuario.telefono || 'No especificado' }} </ng-template>
        </p>

        <div *ngIf="isEditing">
          <p><strong>Nueva Contraseña:</strong>
            <ion-input type="password" [(ngModel)]="nuevaContrasena" placeholder="Nueva contraseña"></ion-input>
          </p>
          <p><strong>Confirmar Contraseña:</strong>
            <ion-input type="password" [(ngModel)]="confirmarContrasena" placeholder="Confirmar contraseña"></ion-input>
          </p>
        </div>

        <ion-button fill="clear" (click)="toggleEdit()" class="toggle-edit">
          <ion-icon slot="icon-only" [name]="isEditing ? 'eye' : 'create'" size="large"></ion-icon>
        </ion-button>
      </ion-card-content>

      <div class="button-container" *ngIf="isEditing">
        <ion-button (click)="cancelarEdicion()" color="medium">
          <ion-icon slot="start" name="close"></ion-icon>
          Cancelar
        </ion-button>
        <ion-button (click)="guardarCambios()" color="primary">
          <ion-icon slot="start" name="save"></ion-icon>
          Guardar
        </ion-button>
      </div>
    </ion-card>

<ion-button (click)="goBack()" class="back-button" shape="round">
  <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
</ion-button>
  </div>
</ion-content>