.content {
--background: #51ccf5;
--background: linear-gradient(360deg, rgba(81, 204, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.card-mascota {
  position: relative;
}

.boton-flotante {
  position: absolute;
  right: 12px;
  z-index: 1;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

// Perfil va arriba
.boton-flotante.perfil {
  bottom: 52px;
}

// Vacunas va abajo
.boton-flotante.vacunas {
  bottom: 12px;
}

