.status-select {
  max-width: 80px;
  display: inline-block;
  background: var(--ion-color-light);
  border-radius: 8px;
  padding: 5px;
}

.fallecido {
  color: var(--ion-color-danger);
}

.content {
--background: #51ccf5;
--background: linear-gradient(360deg, rgba(81, 204, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}