<ion-header [translucent]="true">
  <ion-toolbar class="toolbarColor">
    <ion-title>Historial Vacunas de {{ mascota?.nombre || 'tu mascota' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content">
  <div class="bg-img bg-default"></div>

  <ion-text color="danger">
    <p *ngIf="errorMsg">{{ errorMsg }}</p>
  </ion-text>

  <!-- Sin vacunas -->
  <ion-card *ngIf="historial?.length === 0">
    <ion-card-content class="ion-text-center">
      <h2>Aún no tiene vacunas asociadas</h2>
    </ion-card-content>
  </ion-card>

  <!-- Lista de vacunas -->
  <ion-card class="card-vacuna" *ngFor="let vacuna of historial">
    <ion-card-header>
      <ion-card-title>{{ vacuna.tipo_vacuna }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Aplicación:</strong> {{ vacuna.fecha_aplicacion }}</p>
      <p><strong>Renovación:</strong> {{ vacuna.fecha_renovacion || 'N/A' }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Formulario -->
  <div *ngIf="isEditing" class="formulario-vacuna">
    <ion-item>
      <ion-input [(ngModel)]="mdl_tipo" label="Tipo de Vacuna" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="mdl_aplicacion" type="date" label="Fecha Aplicación" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="mdl_renovacion" type="date" label="Fecha Renovación (opcional)" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-button expand="block" class="clrPrincipal" (click)="agregarVacuna()">
      Guardar Vacuna
    </ion-button>
  </div>

  <!-- Botón toggle -->
  <ion-button expand="block" fill="outline" (click)="toggleEdit()" class="toggle-form-btn">
    <ion-icon [name]="isEditing ? 'eye' : 'create'" slot="start"></ion-icon>
    {{ isEditing ? 'Ver Historial' : 'Agregar Vacuna' }}
  </ion-button>

    <ion-button class="back-button" shape="round">
    <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
  </ion-button>
</ion-content>
