<ion-header [translucent]="true">
  <ion-toolbar class="clrPrincipal">
    <ion-title>My Pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-img src="assets/ic-splash.svg" class="imagen-login"></ion-img>

  <ion-item>
    <ion-input [(ngModel)]="mdl_email" label="Correo Electrónico" labelPlacement="floating" class="ion-padding-bottom"></ion-input>
  </ion-item>

    <ion-item>
    <ion-input [(ngModel)]="mdl_pass" type="password" label="Contraseña" labelPlacement="floating" class="ion-padding-bottom"></ion-input>
  </ion-item>

  <ion-button class="clrPrincipal ion-padding-top" (click)="navegar()" expand="block"> Ingresar </ion-button>
  <ion-button class="ion-padding-top" (click)="navegarCrearCuenta()" fill="clear" expand="block">Crear Cuenta</ion-button>
</ion-content>
