.login-content {
  position: relative;
  --background: transparent;
}

.overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.btn-login {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); //Sombra 
  backdrop-filter: none;          //Asegura que no se aplique blur del card
  background: #019dfb !important; //Refuerza color sólido por si hay herencia
  opacity: 1 !important;  
}


.btn-crear {
  color: #019dfb;
  font-weight: 600;
  opacity: 0.9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}