<ion-header [translucent]="true">
  <ion-toolbar class="clrPrincipal">
    <ion-title>Buscar coincidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content">

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Comparar Huella</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <input type="file" accept="image/*" (change)="subirYComparar($event)">
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
          <ion-button expand="full" color="primary" (click)="enviarImagen()" [disabled]="!archivoSeleccionado">
            Enviar para comparar
          </ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="resultado !== null">
        <p><strong>Resultado de comparación:</strong> {{ resultado }}%</p>
        <img *ngIf="imagenComparativa" [src]="imagenComparativa" style="width: 100%; margin-top: 10px;">
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>