<ion-header [translucent]="true">
  <ion-toolbar class="toolbarColor">
    <ion-title>Buscar Coincidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content">
   <div class="bg-img bg-default"></div>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Comparar Huella</ion-card-title>
    </ion-card-header>

    <ion-card-content>
  <ion-grid>
    <input type="file" accept="image/*" (change)="subirYComparar($event)">
    <img *ngIf="imagenURL" [src]="imagenURL" style="width: 100%; margin-top: 8px;">
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="full" class="boton-comparar" (click)="buscarNariz()" [disabled]="!archivoSeleccionado || cargando">
          Buscar Coincidencia
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row *ngIf="cargando">
      <ion-col class="ion-text-center">
        <ion-spinner name="dots"></ion-spinner>
        <p>Buscando coincidencias...</p>
      </ion-col>
    </ion-row>
  </ion-grid>

<div *ngIf="nombreMascota">
  <p><strong>Mascota encontrada:</strong> {{ nombreMascota }}</p>
</div>
<div *ngIf="duenio">
  <p><strong>Dueño:</strong> {{ duenio.nombre }}</p>
  <p><strong>Email:</strong> {{ duenio.email }}</p>
  <p><strong>Teléfono:</strong> {{ duenio.telefono }}</p>
</div>


  <ion-button expand="block" color="medium" (click)="irAInicio()">
    <ion-icon name="home" slot="start"></ion-icon>
    Volver al Inicio
  </ion-button>
</ion-card-content>

  </ion-card>
 
  <ion-button class="back-button" shape="round">
  <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
</ion-button>
</ion-content>